[kry-inserter]
heat-inserter=Heat __1__
long-heat-inserter=Long-Handed Heat __1__

; only hard-code the long handed heat inserter name, can't be fixed programmatically
[item-name]
long-heat-inserter=Long-Handed Heat Inserter
[recipe-name]
long-heat-inserter=Long-Handed Heat Inserter
[entity-name]
long-heat-inserter=Long-Handed Heat Inserter
[technology-name]
long-heat-inserter=Long-Handed Heat Inserter

[heat-inserter]
heat-name=Heat __1__
heat-description=Unlocks __1__ variants that use heat as their power source.