# Any Planet Start
[string-mod-setting]
aps-planet-crucible=[planet=crucible] Crucible

# Flare stack
[inventory-restriction]
compat-flare-stack-cant-be-incinerated=__1__ cannot be incinerated.

[mod-setting-name]
planet-crucible-allow-flare-stack=Flare stacks on Crucible

[mod-setting-description]
planet-crucible-allow-flare-stack=Whether to allow placing [entity=flare-stack] on Crucible's surface.

# No quality
[entity-description]
planet-crucible-pressure-forge-no-quality=Critical for high-pressure research and processes. Cannot use beacons.
planet-crucible-kiln-no-quality=Furnace powered directly by heat.

# K2SO
[item-name]
planet-crucible-k2so-science-pack=High-pressure tech card
kr-planet-crucible-research-data=High-pressure research data
kr-planet-crucible-firearm-magazine=Ablative rifle magazine

[recipe-name]
planet-crucible-skarn-crushing=Skarn crushing
planet-crucible-kr-rare-metals-from-skarn=Rare metals from skarn
planet-crucible-coke-from-solid-fuel=Coke from solid fuel
# planet-crucible-basic-kr-filter-dirty-water=Basic dirty water filtration
# planet-crucible-emulsion-filtration=Emulsion filtration

[technology-name]
kr-matter-planet-crucible-skarn-processing=Skarn conversion
kr-matter-planet-crucible-emulsion-processing=Emulsion conversion